/* Стили таблицы (IKSWEB) */
table.iksweb {
    margin: 0 auto; /* Центрирование таблицы по горизонтали */
    text-decoration: none;
    border-collapse: collapse;
    width: 80%; /* Уменьшаем ширину таблицы */
    text-align: center;

}

table.iksweb th {
    font-weight: normal;
    font-size: 14px;
    color: #ffffff; /* Белый цвет текста */
    background-color: #000000; /* Черный цвет фона */
}

table.iksweb td {
    font-size: 13px;
    color: #ffffff; /* Белый цвет текста */
}

table.iksweb td,
table.iksweb th {
    white-space: pre-wrap;
    padding: 10px 5px;
    line-height: 13px;
    vertical-align: middle;
    border: 1px solid #c9c9c9;
}

table.iksweb tr {
    height: 50px; /* Уменьшение высоты всех строк */
}

table.iksweb tr td:first-child,
table.iksweb tr td:nth-child(3),
table.iksweb tr td:last-child {
    width: 1.5%; /* Уменьшение ширины левого, третьего и правого столбцов */
}

table.iksweb tr td[colspan="4"][rowspan="3"] {
    width: 10%; /* Увеличение ширины ячейки с colspan="4" rowspan="3" */
}

table.iksweb tr td[colspan="3"][rowspan="2"] {
    width: 5%; /* Увеличение ширины ячейки с colspan="3" rowspan="2" */
    padding-left: 1%; /* Сужение внутренней части слева на 1% */
}

table.iksweb tr td[colspan="4"][rowspan="2"] {
    width: 10%; /* Увеличение ширины ячейки с colspan="4" rowspan="2" */
    padding-left: 1%; /* Сужение внутренней части слева на 1% */
}

table.iksweb tr:hover {
    background-color: #f3e3a4; /* Измененный цвет фона при наведении */
}

table.iksweb tr:hover td {
    color: #000000; /* Белый цвет текста */
    cursor: default;
}

.footer{
    margin-top: 20px;
    background-color: #f3c944;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}